
* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    background-image: repeating-radial-gradient(circle at center, lightskyblue 0, blue, pink 30px);
}
header { 
    display: inline-block;
    margin-bottom: 20px;
    background-color: lightskyblue;
    width: 100%;
    border: 2px solid black;
}
header > h1 {
    display: inline-block;
    background-color: pink;
    margin: 0 50px;
    padding: 30px;
}

header > .table {
    display: inline-block;
    padding-left: 50px;
    list-style-type: none;
    padding-right: 30px;
}
#image1 {
    width: auto;
    float: left;
    margin: 0 30px 10px 10px;
    box-shadow: 5px 1px 10px 5px grey;
}

#image2, #image3, #image4 {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    box-shadow: 5px 1px 10px 5px grey;
}
#listoficons {
    display: inline-block;
}
a { 
    text-decoration: none;
    font-size: 24px;
}

li {
   display: inline-block;
}

 .About-Mwa {
   width: 40%;
   margin: 50px 5px 50px 200px;
   border: 0 auto;
   display: inline-block;
   background-color: pink;
}
p {
    text-indent: 40px;
}
#about-header {
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    margin-left: 5px;
    margin-right: 5px;
}
#text-body {
    margin: 10px;
}
 .contact-section {
    width:30%;
    float: right;
    margin: 50px 70px 50px 5px;
    background-color: pink;
    text-align: center;
}

body > footer { 
    text-align: center;
    display: block;
    background-color: white;
    border-top: 10px;
    border-color: blue;
    border-style: double;
    padding-bottom: 10px;
    font-size: small;
}

