
* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2 { 
    color:darkblue;
}
body {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    background-image: repeating-radial-gradient(circle at center, lightskyblue 0, blue, pink 30px);
}
header { 
    display: inline-block;
    margin-bottom: 20px;
    background-color: lightskyblue;
    width: 100%;
    border-bottom: 10px solid blue;
}
header > h1 {
    display: inline-block;
    background-color: pink;
    margin: 0 10px 0px 125px;
    padding: 20px 50px;
    float: left;
}

.table {
    display: table;
    margin: 0 auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.list-of-icons {
    min-width: auto;
    list-style-type: none; 
    padding-top: 20px;
}

li {
    display: inline;
    float: left;
}

#connect-header {
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    margin-left: 5px;
    margin-right: 5px;
}

#image1 {
    width: auto;
    float: left;
    height: auto;
    padding: 20px;
    margin: 0 30px 10px 10px;
    box-shadow: 5px 10px 10px 5px grey;
}

#image2, #image3, #image4 {
    width: 40px;
    height: 40px;
    box-shadow: 10px 2px 10px 4px grey;
    padding: 10px;
    border: 0 auto;
    margin: 0 50px 0 50px;
    background-color: pink;
}

a { 
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
}

p {
    text-indent: 40px;
}

main {
    margin: 0 100px 0 100px;
    display: inline-block
}

#about-header {
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    margin-left: 50px;

}

.About-Mwa {
    margin-left: 30px;
    background-color: pink;
    float: left;
    width: 500px;
    margin-bottom: 50px;
}

.iconlistwholebox {
    float: right;
    margin-left: 10px;
    height: 150px;
    background-color: pink;
    width: 300px;
}

#text-body {
    margin: 10px;
}

footer { 
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    display: block;
    background-color: white;
    border-top: 10px solid blue;
    font-size: small;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}

